.bordered {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

textarea {resize: none}

.navbar-colors {
    background-color: #2c3e50 !important;
}

.nav-link-color {
    color: #f5f5f5 !important;
}

.myContainer {
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: auto;
    display: flex;
    flex-direction: row !important;
}

.sidebar {
    width: 30%;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    min-height: 0;
    flex-grow: 1;
    overflow: auto;
    background-color: #2c3e50;
}

.sidebar-cards{
    width: 100%;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    min-height: 0;
    flex-grow: 1;
    overflow: auto;
}

.action-bar{
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    min-height: 40px;
    max-height: 40px;
    background-color: #f5f5f5;
}

.action-item{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.action-item:hover{
    background-color: #b2d1ff;
}

.action-selected{
    background-color: #b2d1ff;
}

.user-card {
    display: flex;
    min-height: 64px;
    max-height: 64px;
    flex-direction: row !important;
    width: 100%;
}

.user-image {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 20%;
    font-size: 36px;
    color: #f5f5f5
}

user-name-and-preview{
    display: flex;
    flex-direction: row!important;
    width: 80%;
    min-width: 80%;
}

.user-card:hover {
    background-color: #32465a !important;
}

.user-name-container {
    margin-top: 10px;
    display: flex;

    flex-direction: row!important;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;

    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.user-name {
    font-size: 16px;
    color: #f5f5f5;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-notification{
    color: #c64141;
    font-size: 14px;
    margin-top: 12%;
    margin-left: 6%;
    display: none;
    justify-content: flex-end;
}

.message-preview{
    display: flex;
    color: #f5f5f5;
    font-size: 12px;
    font-weight: 100;
    overflow-wrap: break-word;
    width: 100%!important;
}


.chat-container {
    width: 70%;
    display: flex;
    background-color: #e6eaea;
    flex-direction: column !important;
    align-items: stretch;
}

.chat {
    display: flex;
    flex-direction: column !important;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.chat-selected {
    background-color: #32465a
}

.input-container {
    display: flex;
    flex-direction: row !important;
    min-height: 38px;
    height: 38px;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 90%;
    height: 100%;
}

.send-btn-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.message-input {
    border-radius: 0px !important;
}

.send-btn {
    width: 100%;
    border-radius: 0px;
    background-color: #2c3e50;
}

.message-send {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    min-width: 0%;
    max-width: 90%;
    flex-direction: column;
    border-radius: 1px;
    border-radius: 10px;
    align-self: flex-end;
    background-color: #f5f5f5;
    padding: 10px;
}

.message-received {
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    min-width: 0%;
    max-width: 90%;
    flex-direction: column;
    border-radius: 1px;
    border-radius: 10px;
    background-color: #2c3e50;
    align-self: flex-start;
    color: ghostwhite;
    padding: 10px;
}

.msg-timestamp {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

.msg-container{
    display: flex;
}

.msg-msg{
    padding-top: 5px;
    overflow-wrap: break-word;
    max-width: 100%
}

.msg-name {
    margin-right: 1%;
    margin-left: 1%;
    text-transform:capitalize;
    display: flex;

}

